html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, 
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
    border-spacing: 0;
}
@font-face {
    font-family: "MadeBold";
    src: url("../fonts/MADEEvolveSansBold.otf");
}
@font-face {
    font-family: "FiraItalic";
    src: url("../fonts/FiraSansItalic.ttf");
}
@font-face {
    font-family: "MadeLight";
    src: url("../fonts/MADEEvolveSansLight.otf");
}
@font-face {
    font-family: "MadeRegular";
    src: url("../fonts/MADEEvolveSansRegular.otf");
}
@font-face {
    font-family: "MadeMedium";
    src: url("../fonts/MADEEvolveSansMedium.otf");
}
@font-face {
    font-family: "Stratum";
    src: url("../fonts/StratumNo1Regular.ttf");
}

.head {
    height: 795px;
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    .container {
        max-width: 1168px;
        margin: 0 auto;
    }
    &-header {
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding-top: 23px;
        &-logo {
            font-size: 22.5px;
            letter-spacing: 0.7px;
            margin-top: 13px;
            font-family: 'MadeLight';
            &-bold {
                font-family: 'MadeBold';
            }
        }
        &-phone {
            background-image: url('../images/icon-phone.png');
            background-repeat: no-repeat;
            background-position: left top;
            font-size: 17px;
            padding-left: 28px;
            margin-left:32.62%;
            margin-top: 13px;
            font-family: 'MadeRegular';
            cursor: pointer;
        }
        &-phone-mobile {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.2);
            background-image: url('../images/icon-phone.png');
            background-repeat: no-repeat;
            background-position: center;
            display: none;
        }
        &-button-mobile {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.2);
            background-image: url('../images/icon-user.png');
            background-repeat: no-repeat;
            background-position: center;
            display: none;
        }
        &-lang {
            font-size: 17px;
            letter-spacing: 0.9px;
            width: 45px;
            height: 17px;
            border-radius: 10px;
            -webkit-appearance: none;
            background-image: url('../images/icon-arrow.png');
            background-position: right center;
            background-repeat: no-repeat;
            -moz-appearance: none;
            -ms-appearance: none;
            appearance: none!important;
            background-color: transparent;
            color: #ffffff;
            border: none;
            cursor: pointer;
            margin-top: 13px;
            font-family: 'MadeMedium';
            option {
                color: black;
            }
          }
           
        &-lang::-ms-expand {
            display: none;
        }
        &-button {
            width: 215px;
            height: 48px;
            border-radius: 5px;
            background-color: rgba(#fff, 0.4);
            border: solid 1px #fff;
            line-height: 1.53;
            letter-spacing: 0.9px;
            color: #fff;
            font-size: 17px;
            cursor: pointer;
            font-family: 'MadeRegular';
        }
    }
    &-main {
        padding-top: 135px;
        display: flex;
        justify-content: space-between;
        background-image: url('../images/computer-man.png');
        background-repeat: no-repeat;
        background-position: 420px 25px;
        height: 588px;
        margin-top: 30px;
        &-left {
            color: #fff;
            &-title {
                max-width: 600px;
                font-family: 'MadeBold';
                font-size: 45.5px;
                line-height: 1.15;
                letter-spacing: 2.3px;
            }
            &-text {
                max-width: 490px;
                color: rgba(255, 255, 255, 0.8);
                line-height: 1.25;
                letter-spacing: 1.1px;
                font-size: 22px;
                margin-top: 42px;
                font-family: 'MadeRegular'; 
                padding-bottom: 73px;               
            }
            &-link {
                font-size: 19.5px;
                font-family: 'MadeMedium';
                color: #fff;
                text-decoration: none;
                padding-bottom: 6px;
                background-image: url('../images/icon-arrow-down.png');
                background-repeat: no-repeat;
                background-position: left;
                padding-left: 22px;
                span {
                    border-bottom: 1px solid #fff;
                    padding-bottom: 3px;
                }
            }
        }
        &-right {
            width: 435px;
            height: 455px;
            border-radius: 10px;
            box-shadow: 0px 6px 44.6px 4.4px rgba(14, 30, 68, 0.26);
            background-color: #ffffff;
            border: solid 2px #ffffff;
            &-title {
                font-family: 'MadeBold';
                letter-spacing: 0.9px;
                font-size: 31px;
                color: #1bc48a;
                margin-top: 53px;
                margin-left: 44px;
            }
            &-text {
                font-size: 15px;
                font-family: 'MadeRegular';
                letter-spacing: 0.5px;
                color: #7e808b;
                margin-top: 32px;
                margin-left: 44px;
            }
            &-input {
                background-image: url('../images/icon-phone-input.png');
                background-repeat: no-repeat;
                background-position: 13px;
                width: 308px;
                height: 48px;
                border-radius: 5px;
                box-shadow: 0px 2px 12.5px 0.5px rgba(14, 30, 68, 0.18);
                border: solid 1px #edf0f5;
                padding-left: 37px;
                font-size: 15px;
                font-family: 'FiraItalic';
                margin-left: 44px;
                margin-top: 11px;
            }
            &-icons {
                display: flex;
                justify-content: space-between;
                width: 246px;
                margin-left: 44px;
                margin-top: 17px;
                &-icon {
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 31px;
                    height: 31px;
                    border-radius: 5px;
                    box-shadow: 0px 2px 12.5px 0.5px rgba(14, 30, 68, 0.18);
                    background-color: #ffffff;
                    border: solid 1px #edf0f5;
                    cursor: pointer;
                }
                &-icon:nth-child(1) {
                    background-image: url('../images/icon-telegram.png');
                }
                &-icon:nth-child(2) {
                    background-image: url('../images/icon-whatsapp.png');
                }
                &-icon:nth-child(3) {
                    background-image: url('../images/icon-viber.png');
                }
                &-icon:nth-child(4) {
                    background-image: url('../images/icon-skype.png');
                }
                &-icon:nth-child(5) {
                    background-image: url('../images/icon-email.png');
                }
                &-icon:nth-child(6) {
                    background-image: url('../images/icon-call.png');
                }
            }
            &-info {
                font-family: 'MadeRegular';
                font-size: 19px;
                letter-spacing: 0.6px;
                color: #4a4b54;
                margin-left: 44px;
                margin-top: 50px;
                background-image: url('../images/icon-tick.png');
                background-position: left;
                background-repeat: no-repeat;
                padding-left: 25px;
                div {
                    border-bottom: dotted 1px #c0c9e1;
                    padding-bottom: 3px;
                    width: 210px;
                }
            }
            &-button {
                width: 350px;
                height: 55px;
                border-radius: 5px;
                background-image: linear-gradient(to right, #88c849, #2fb96e);
                box-shadow: 0px 2px 12.5px 0.5px rgba(14, 30, 68, 0.18);
                border: none;
                margin-left: 44px;
                margin-top: 37px;
                font-size: 20px;
                letter-spacing: 0.6px;
                text-align: center;
                color: #ffffff;
                font-family: 'MadeMedium';
                cursor: pointer;
            }
        }
        &-link-mobile {
            font-size: 19.5px;
            font-family: 'MadeMedium';
            color: #fff;
            text-decoration: none;
            padding-bottom: 6px;
            background-image: url('../images/icon-arrow-down.png');
            background-repeat: no-repeat;
            background-position: left;
            padding-left: 22px;
            span {
                border-bottom: 1px solid #fff;
                padding-bottom: 3px;
            }
            display: none;
        }
    }
}
@media screen and(max-width: 1200px) {
    .head {
        .container {
            max-width: 91%;
        }
    }
}
@media screen and(max-width: 1024px) {
    .head {
        .container {
            
        }
        &-header {
            &-logo {
                
            }
            &-phone {
               
            }
            &-lang {

            }
            &-button {

            }
        }
    }
}
@media screen and(max-width: 960px) {
    .head {
        &-header {
            &-phone {
                margin-left: 0px;
            }
        }
    }
}

@media screen and(max-width: 860px) {
    .head {
        &-main {
            background-position: 100px 20px;
        }
    }
}
@media screen and(max-width: 720px) {
    .head {
        height: 1216px;
        background-image: linear-gradient(48deg, #15237a, #4b8afc);
        .container {
            
        }
        &-header {
            &-logo {
                
            }
            &-phone {
               margin-left: 0px;
            }
            &-lang {

            }
            &-button {

            }
        }
        &-main {
            flex-wrap: wrap;
            justify-content: center;
            background-position: center 200px;
            &-left {
                text-align: center;
                &-title {
                    font-size: 27px;
                }
                &-text {
                    font-size: 17px;
                    margin-top: 26px;
                }
            }
            &-right {
                margin-top: 200px;
            }
        }
    }
}
@media screen and(max-width: 680px) {
    .head {
        &-header {
            &-lang {
                margin-left: 40%;
            }
            &-phone {
                display: none;
            }
            &-button {
                display: none;
            }
            &-phone-mobile {
                display: block;
            }
            &-button-mobile {
                display: block;
            }
        }
    }
}
@media screen and(max-width: 480px) {
    .head {
        &-header {
            &-logo {
                font-size: 16px;
            }
            &-logo-bold {
                font-size: 16px;
            }
            &-lang {
                margin-left: 0px;
            }
        }
        &-main {
            padding-top: 100px;
            margin-top: 0px;
            background-position: -100px 280px;
            &-left {
                &-link {
                    display: none;
                }
            }
            &-right {
                width: 300px;
                height: 422px;
                &-title {
                    margin-left: 20px;
                }
                &-text {
                    margin-left: 20px;
                }
                &-input {
                    width: 222px;
                    margin-left: 20px;
                }
                &-icons {
                    margin-left: 20px;
                }
                &-button {
                    width: 259px;
                    margin-left: 20px;
                }
                &-info {
                    margin-left: 20px;
                }
            }
            &-link-mobile {
                display: block;
                margin-top: 74px;
            }
        }
    }
}
.main {
    background-color: rgba(213, 234, 239, 0.4);
    height: 1517px;
    &-pretitle {
        font-family: 'MadeMedium';
        font-size: 18.5px;
        letter-spacing: 0.9px;
        text-align: center;
        color: #3ba9c5;
        padding-top: 120px;
    }
    &-title {
        font-family: 'MadeBold';
        font-size: 34.5px;
        letter-spacing: 1.7px;
        text-align: center;
        color: #1e2b38;
        margin-top: 16px;
    }
    &-path {
        margin: 0 auto;
        margin-top: 100px;
        display: flex;
        max-width: 1170px;
        &-item {
            position: relative;
            z-index: 999999;
            &-arrow {
                background-image: url('../images/arrow.png');
                background-repeat: no-repeat;
                background-position: center;
                width: 90px;
                height: 90px;
                position: absolute;
                top: 108%;
                z-index: -1;
                left: 75%;
            }
            .arrow2 {
                background-image: url('../images/arrow-2.png');
                top: 61%;
                left: 105%;
            }
            .arrow3 {
                background-image: url('../images/arrow-3.png');
                top: 105%;
                left: 50%;
                width: 13px;
                height: 190px;
            }
            width: 369px;
            height: 254px;
            border-radius: 10px;
            background-color: #ffffff;
            box-shadow: 0px 3px 9.9px 1.1px rgba(42, 85, 150, 0.17);
            background-image: url('../images/img-step-1.png');
            background-repeat: no-repeat;
            background-position: left;
            &-title {
                font-size: 21.5px;
                font-family: 'MadeBold';
                letter-spacing: 1.1px;
                color: #1e2b38;
                margin-left: 174px;
                margin-top: 68px;
            }
            &-text {
                font-size: 16px;
                letter-spacing: 0.8px;
                color: #7b7b81;
                line-height: 1.34;
                width: 162px;
                margin-left: 174px;
                margin-top: 19px;
                font-family: 'MadeRegular';
            }
        }
        &-item:nth-child(2) {
            margin-left: 32px;
            margin-top: 50px;
            background-image: url('../images/img-step-2.png');
            background-position: center 44px;
            height: 373px;
            .second  {
                margin-top: 268px;
                text-align: center;
                margin-left: 0px;
            }
            .secondtext {
                width: 245px;
                text-align: center;
                margin-left: 62px;
                margin-top: 16px;
            }
        }
        &-item:nth-child(3) {
            margin-left: 32px;
            background-image: url('../images/img-step-3.png');
        }
        // &-arrows {
        //     &-arrow {
        //         background-image: url('../images/arrow.png');
        //         background-repeat: no-repeat;
        //         background-position: center;
        //         width: 90px;
        //         height: 90px;
        //         position: absolute;
        //         top: 37%;
        //         left: 33%;
        //     }
        //     &-arrow:nth-child(2) {
        //         background-image: url('../images/arrow-2.png');
        //         top: 37%;
        //         left: 61.5%;
        //     }
        //     &-arrow:nth-child(3) {
        //         background-image: url('../images/arrow-3.png');
        //         width: 13px;
        //         height: 190px;
        //         top: 36.5%;
        //         left: 72%;
        //     }
        // }
    }

    &-instruction {
        font-family: 'MadeRegular';
        width: 1170px;
        height: 480px;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 0px 3px 9.9px 1.1px rgba(42, 85, 150, 0.17);
        margin: 0 auto;
        margin-top: 41px;
        display: flex;
        justify-content: space-between;
        &-left {
            background-image: url('../images/img-step-4-1.png');
            background-repeat: no-repeat;
            background-position: 33px 47px;
            &-title {
                font-size: 21.5px;
                font-family: 'MadeBold';
                line-height: 1.91;
                letter-spacing: 1.1px;
                color: #1e2b38;
                margin-left: 239px;
                margin-top: 85px;
            }
            &-description {
                width: 275px;
                font-size: 17px;
                line-height: 1.38;
                letter-spacing: 0.9px;
                color: #4a4b54;
                margin-left: 239px;
                margin-top: 16px;
            }
            &-text {
                width: 456px;
                font-size: 16px;
                line-height: 1.53;
                letter-spacing: 0.8px;
                color: #7b7b81;
                margin-left: 40px;
                margin-top: 80px;
            }
            &-button {
                width: 300px;
                height: 54px;
                border-radius: 5px;
                background-color: #ffffff;
                border: solid 1px #c0c9e1;
                margin-left: 36px;
                margin-top: 16px;
                font-size: 16px;
                line-height: 1.63;
                letter-spacing: 0.8px;
                text-align: center;
                color: #7b84b2;
                line-height: 54px;
                cursor: pointer;
            }
            &-buttondesc {
                font-size: 14px;
                line-height: 1.68;
                letter-spacing: 0.7px;
                color: #7b7b81;
                margin-left: 48px;
                margin-top: 15px;
            }
        }
        &-or {
            font-family: 'FiraItalic';
            font-size: 33.5px;
            line-height: 0.9;
            letter-spacing: 1.7px;
            text-align: center;
            color: rgba(53, 60, 94, 0.8);
            margin-top: 135px;
        }
        &-right {
            background-image: url('../images/img-step-4-2.png');
            background-repeat: no-repeat;
            background-position: 33px 47px;
            margin-right: 35px;
            &-title {
                font-size: 21.5px;
                font-family: 'MadeBold';
                line-height: 1.91;
                letter-spacing: 1.1px;
                color: #1e2b38;
                margin-left: 239px;
                margin-top: 85px;
            }
            &-description {
                width: 275px;
                font-size: 17px;
                line-height: 1.38;
                letter-spacing: 0.9px;
                color: #4a4b54;
                margin-left: 239px;
                margin-top: 16px;
            }
            &-text {
                width: 476px;
                font-size: 16px;
                line-height: 1.53;
                letter-spacing: 0.8px;
                color: #7b7b81;
                margin-left: 40px;
                margin-top: 35px;
            }
        }
    }
    &-button {
        width: 245px;
        height: 74px;
        border-radius: 5px;
        background-image: linear-gradient(to right, #88c849, #2fb96e);
        box-shadow: 0px 3px 12.2px 0.8px rgba(9, 57, 78, 0.2);
        font-family: 'MadeMedium';
        font-size: 19.5px;
        line-height: 74px;
        letter-spacing: 1px;
        text-align: center;
        color: #ffffff;
        margin: 0 auto;
        margin-top: 83px;
        cursor: pointer;
    }
}
.mobile-arrow {
    display: none;
    background-image: url('../images/arrow-mobile.png');
    position: absolute;
    top: 255px;
    left: 50%;
    width: 13px;
    height: 71px;
    background-repeat: no-repeat;
}
.mobile-arrow2 {
    display: none;
    background-image: url('../images/arrow-mobile.png');
    background-repeat: no-repeat;
    position: absolute;
    top:375px;
    left: 50%;
    width: 13px;
    height: 71px;
}
@media screen and(max-width: 1200px) {
    .main {
        &-path {
            justify-content: center;
           &-item {
            width: 306px;
            &-text {
                width: 140px;
            }
           }
           &-item:nth-child(2) {
                .secondtext {
                    margin-left: 30px;
                }
           }
        }
        &-instruction {
            width: 82.71%;
            &-left {
                background-size: 35%;
                background-position: 27px 60px;
                &-title {
                    margin-left: 200px;
                }
                &-description {
                    width: 210px;
                    font-size: 15px;
                    margin-left: 200px;
                }
                &-text {
                    width: 350px;
                    margin-top: 30px;
                }
            }
            &-right {
                background-size: 35%;
                background-position: 27px 60px;
               &-title {
                margin-left: 200px;
                }
                &-description {
                    width: 210px;
                    font-size: 15px;
                    margin-left: 200px;
                }
                &-text {
                    width: 350px;
                    margin-top: 30px;
                }
            }
        }
    }
}
@media screen and(max-width: 1024px) {
    .mobile-arrow {
        display: block;
    }
    .mobile-arrow2 {
        display: block;
    }
    .main {
        height: 2600px;
        &-path {
            margin-top: 0px;
            flex-direction: column;
            align-items: center;
            &-item {
                &-arrow {
                    display: none;
                }
                width: 315px;
                margin-top: 73px;
            }
            &-item:nth-child(2) {
                margin-left: 0px;
                margin-top: 73px;
            }
            &-item:nth-child(3) {
                margin-left: 0px;
                margin-top: 75px;
            }
        }
        &-instruction {
            margin-top: 73px;
            height: 900px;
            flex-wrap: wrap;
            justify-content: center;
            align-content: flex-start;
            &-left {    
                &-title {
                    margin-top: 65px;
                }
            }
            &-right {
                &-title {
                    margin-top: 65px;
                }
            }
            &-or {
                width: 100%;
                margin-top: 71px;
            }
        }
    }
}
@media screen and(max-width: 600px) {
    .main {
        height: 2750px;
        &-pretitle {
        padding-top: 86px;
        }
        &-or {
            margin-top: -20px;
        }
        &-instruction {
            height: 1214px;
            &-left {
                background-position: center 39px;
                &-title {
                    margin-left: 26px;
                    margin-top: 220px;
                    width: 90%;
                }
                &-description {
                    margin-left: 26px;
                    margin-top: 22px;
                    width: 90%;
                }
                &-text {
                    margin-left: 26px;
                    width: 90%;
                }
            }
            &-right {
                background-position: center 39px;
                margin: 0 auto;
                &-title {
                    margin-left: 26px;
                    width: 90%;
                    margin-top: 220px;
                }
                &-description {
                    margin-left: 26px;
                    margin-top: 22px;
                    width: 90%;
                }
                &-text {
                    width: 90%;
                    margin-left: 26px;
                }
            }
        }
    }
}
@media screen and(max-width: 350px) {
    .main {
        height: 2850px;
        &-instruction {
            height: 1314px;
            width: 95%;
            &-left {
                &-button {
                    font-size: 15px;
                    margin: 0 auto;
                    width: 269px;
                    margin-top: 10px;
                }
            }
        }
    }
}
.info {
    &-pretitle {
        font-family: 'MadeMedium';
        font-size: 18.5px;
        letter-spacing: 0.9px;
        text-align: center;
        color: #3ba9c5;
        padding-top: 115px;
    }
    &-title {
        font-family: 'MadeBold';
        font-size: 34.5px;
        line-height: 1.16;
        letter-spacing: 1.7px;
        color: #1e2b38;
        max-width: 502px;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
    }
    &-reasons {
        display: flex;
        justify-content: space-between;
        padding-bottom: 100px;
        max-width: 1068px;
        margin: 0 auto;
        margin-top: 100px;
        &-reason {
            color: #555;
            &-icon {
                background-image: url('../images/icon-workteam.svg');
                background-repeat: no-repeat;
                background-position: center;
                width: 100px;
                height: 85px;
                margin: 0 auto;
            }
            &-title {
                font-family: 'MadeBold';
                font-size: 21.5px;
                letter-spacing: 1.1px;
                text-align: center;
                color: #1e2b38;
                margin-top: 35px;
            }
            &-text {
                width: 256px;
                font-family: 'MadeRegular';
                font-size: 16px;
                line-height: 1.34;
                letter-spacing: 0.8px;
                text-align: center;
                color: #4a4b54;
                margin-top: 15px;
            }
        }
        .team {
            background-image: url('../images/icon-team.svg');
        }
        .hours {
            background-image: url('../images/icon-24-hours.svg');
        }
    }
}
@media screen and(max-width: 760px) {
    .info{
        &-reasons {
            flex-direction: column;
            &-reason { 
                &-text {
                    margin: 0 auto;
                    margin-top: 15px;
                }
            }
            &-reason:nth-child(2) {
                margin-top: 100px;
            }
            &-reason:nth-child(3) {
                margin-top: 100px;
            }
        }
    }
}
.services {
    height: 1009px;
    margin: 0 auto;
    background-image: url('../images/bg-2.png');
    background-repeat: no-repeat;
    background-position: center;
    &-pretitle {
        font-family: 'MadeMedium';
        font-size: 18.5px;
        letter-spacing: 0.9px;
        text-align: center;
        color: #ffffff;
        padding-top: 136px;
    }
    &-title {
        font-size: 34.5px;
        letter-spacing: 1.7px;
        text-align: center;
        color: #ffffff;
        font-family: 'MadeBold';
        margin-top: 15px;
    }
    &-items {
        display: flex;
        flex-wrap: wrap;
        max-width: 980px;
        margin: 0 auto;
        margin-top: 60px;
        justify-content: space-between;
        &-itemone {
            position: relative;
            width: 970px;
            height: 256px;
            border-radius: 10px;
            background-color: #ffffff;
            background-image: url('../images/img-computer.png');
            background-repeat: no-repeat;
            background-position: 68px;
            &-title {
                font-family: 'MadeBold';
                font-size: 21.5px;
                letter-spacing: 1.1px;
                margin-left: 426px;
                margin-top: 38px;
                color: #1e2b38;
            }
            &-text {
                width: 255px;
                font-family: 'MadeRegular';
                font-size: 16px;
                line-height: 1.34;
                letter-spacing: 0.8px;
                color: #4a4b54;
                margin-left: 426px;
                margin-top: 15px;
            }
            &-button {
                width: 227px;
                height: 51px;
                border-radius: 5px;
                background-image: linear-gradient(to right, #88c849, #2fb96e);
                font-family: 'MadeRegular';
                font-size: 17px;
                line-height: 51px;
                letter-spacing: 0.5px;
                text-align: center;
                color: #ffffff;
                margin-left: 426px;
                margin-top: 15px;
                cursor: pointer;
            }
            &-price {
                background-image: url('../images/bg-price.svg');
                background-repeat: no-repeat;
                background-position: center;
                width: 163px;
                height: 134px;
                font-family: 'MadeRegular';
                font-size: 42px;
                letter-spacing: 1.3px;
                color: #f3f6ff;
                padding-top: 17px;
                position: absolute;
                top: -3.4%;
                left: 83.2%;
            }
            &-pricedollar {
                font-size: 21.5px;
                line-height: 2.26;
                letter-spacing: 0.6px;
                color: #f3f6ff;
                font-family: 'MadeRegular';
                margin-left: 50px;
                padding-top: 17px;
            }
        }
        &-item {
            margin-top: 41px;
            width: 469px;
            height: 315px;
            border-radius: 10px;
            background-color: #ffffff;
            &-title {
                font-family: 'MadeBold';
                font-size: 21.5px;
                letter-spacing: 1.1px;
                margin-left: 43px;
                margin-top: 44px;
                color: #1e2b38;
            }
            &-list {
                margin-left: 44px;
                list-style: none;
                margin-top: 20px;
                padding: 0;
                border: 0;
                font-size: 100%;
                font: inherit;
                vertical-align: baseline;
                &-item {
                    font-family: 'MadeRegular';
                    font-size: 16px;
                    line-height: 1.94;
                    letter-spacing: 0.8px;
                    color: #4a4b54;
                    background-image: url('../images/icon-mark.svg');
                    background-repeat: no-repeat;
                    background-position: -20px;
                    padding-left: 28px;
                }
            }
            &-button {
                width: 216px;
                height: 51px;
                border-radius: 5px;
                border: solid 1px #c0c9e1;
                margin-left: 43px;
                margin-top: 25px;
                font-family: 'MadeRegular';
                font-size: 17px;
                line-height: 51px;
                letter-spacing: 0.9px;
                text-align: center;
                color: #8390b3;
            }
        }
    }
}
.testimonials {
    height: 800px;
    background-color: rgba(213,	234, 239, 0.4);
    &-pretitle {
        font-family: 'MadeMedium';
        font-size: 18.5px;
        letter-spacing: 0.9px;
        text-align: center;
        color: #3ba9c5;
        padding-top: 150px;
    }
    &-title {
        font-family: 'MadeBold';
        font-size: 34.5px;
        letter-spacing: 1.7px;
        text-align: center;
        color: #1e2b38;
        margin-top: 14px;
    }
    .wrapper {
        width: 1330px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-top: 84px;
    }
    &-slider {
        display: flex;
        justify-content: space-between;
        max-width: 1167px;
        margin-top: 90px;
        overflow: hidden;
        margin: 0 auto;
        position: relative;
        &-left {
            position: relative;
            z-index: 999;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('../images/icon-arrow-left.png');
            margin-top: 170px;
            cursor: pointer;
            width: 57px;
            height: 57px;
            background-color: #ffffff;
            border-radius: 50%;
            box-shadow: 0px 3px 12.2px 0.8px rgba(9, 57, 78, 0.2);
            display: inline-block;
        }
        &-right {
            position: relative;
            z-index: 999;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('../images/icon-arrow-right.png');
            margin-top: 170px;
            cursor: pointer;
            width: 57px;
            height: 57px;
            background-color: #ffffff;
            border-radius: 50%;
            box-shadow: 0px 3px 12.2px 0.8px rgba(9, 57, 78, 0.2);
        }
        &-item {
            margin: 15px;
            position: relative;
            width: 399px;
            height: 332px;
            border-radius: 10px;
            background-color: #ffffff;
            box-shadow: 0px 3px 9.9px 1.1px rgba(42, 85, 150, 0.22);
            
            &-pic {
                background-image: url('../images/photo-1.png');
                background-repeat: no-repeat;
                background-position: center;
                width: 102px;
                height: 102px;
                position: absolute;
                top: -50px;
                left: 35%;
            }
            .test2 {
                background-image: url('../images/photo-2.png');
            }
            .test3 {
                background-image: url('../images/photo-3.png');
            }
            &-title {
                font-family: 'MadeRegular';
                font-size: 14px;
                letter-spacing: 0.4px;
                text-align: center;
                color: #99b8c8;
                margin-top: 69px;
            }
            &-text {
                width: 291px;
                margin: 0 auto;
                mix-blend-mode: undefined;
                font-family: 'MadeRegular';
                font-size: 16px;
                line-height: 1.38;
                letter-spacing: 0.5px;
                text-align: center;
                color: #4a4b54;
                margin-top: 38px;
                position: relative;
                z-index: 111;
            }
            &-bg {
                opacity: 0.65;
                font-family: 'Stratum';
                font-size: 301px;
                line-height: 0.1;
                letter-spacing: -12px;
                color: #deecec;
                position: absolute;
                top: 170px;
                left: 0px;
            }
        }
        &-buttons {
            display: flex;
            margin: 0 auto;
            margin-top: 35px;
            &-button {
                width: 14px;
                height: 13px;
                border: solid 1px #c0c9e1;
                margin-left: 9px;
                border-radius: 50%;
            }
        }
    }
}
.blog {
    background-image: url('../images/bg-3.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 1063px;
    &-pretitle {
        font-family: 'MadeMedium';
        font-size: 18.5px;
        letter-spacing: 0.9px;
        text-align: center;
        color: #ffffff;
        padding-top: 142px;
    }
    &-title {
        font-family: 'MadeBold';
        font-size: 34.5px;
        letter-spacing: 1.7px;
        text-align: center;
        color: #ffffff;
        margin-top: 10px;
    }
    &-items {
        max-width: 1170px;
        margin: 0 auto;
        margin-top: 59px;
        display: flex;  
        justify-content: space-between;
        &-item {
            &-title {
                margin-top: 45px;
                width: 520px;
                font-family: 'MadeBold';
                font-size: 26px;
                line-height: 1.33;
                letter-spacing: 1.3px;
                color: #ffffff;
            }
            .blogtitle2 {
                width: 450px;
            }
            &-text {
                width: 508px;
                font-family: 'MadeRegular';
                font-size: 16px;
                line-height: 1.53;
                letter-spacing: 0.8px;
                color: rgba(255, 255, 255, 0.8);
                margin-top: 24px;
            }
        }
    }
    &-more {
        width: 168px;
        margin-left: 45%;
        margin-top: 110px;
        font-family: 'MadeMedium';
        font-size: 20.5px;
        letter-spacing: 1px;
        color: rgba(255, 255, 255, 0.8);
        background-image: url('../images/right-arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 250%;
        padding-right: 200px;
        cursor: pointer;
    }
}
.faq {
    position: relative;
    z-index: 100;
    &-pretitle {
        font-family: 'MadeMedium';
        font-size: 18.5px;
        letter-spacing: 0.9px;
        text-align: center;
        color: #3ba9c5;
        padding-top: 119px;
    }
    &-title {
        font-family: 'MadeBold';
        font-size: 34.5px;
        letter-spacing: 1.7px;
        text-align: center;
        color: #1e2b38;
        margin-top: 10px;
    }
    &-main {
        background-color: #fff;
        width: 831px;
        margin: 0 auto;
        margin-top: 58px;
        min-height: 656px;
        box-shadow: 0px 3px 9.9px 1.1px rgba(42, 85, 150, 0.22);
        border-radius: 10px;
        &-list {
            list-style-type: decimal;
            color: #555;
            list-style-position: inside;
            &-item {
                cursor: pointer;
                font-family: 'MadeRegular';
                font-size: 20px;
                letter-spacing: 0.6px;
                color: #4a4b54;
                line-height: 76px;
                opacity: 0.66;
                border-top: solid 1px #c0c9e1;
                background-image: url('../images/icon-circle-arrow.svg');
                background-repeat: no-repeat;
                background-position-x: 710px;
                background-position-y: 18px;
                background-size: 12%;
                margin-left: -40px;
                padding-left: 52px;
                transition: background-color 0.3s linear;
                &-inside {
                    font-family: 'MadeRegular';
                    font-size: 16px;
                    line-height: 1.38;
                    letter-spacing: 0.5px;
                    width: 750px;
                    padding: 32px 36px 32px 45px;
                    margin-left: -52px;
                    background-color: #f4f6fa;
                }
            }
            &-item:hover {
                background-color: #c0c9e1;
                font-family: 'MadeMedium';
                background-image: url('../images/icon-circle-arrow-2.svg');
            }
            &-item:hover > .faq-main-list-item-inside {
                background-color: #f4f6fa;
            }
        }
    }
    &-container {
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        margin-top: 151px;
        justify-content: space-between;
    }
    &-question {
        font-family: 'MadeMedium';
        font-size: 18.5px;
        line-height: 2.62;
        letter-spacing: 0.9px;
        color: #fff;
        .question2 {
            line-height: 1.19;
            letter-spacing: 1.7px;
            font-size: 34.5px;
        }
    }
    &-button {
        width: 241px;
        height: 64px;
        border-radius: 5px;
        background-image: linear-gradient(to right, #88c849, #2fb96e);
        box-shadow: 0px 3px 12.2px 0.8px rgba(9, 57, 78, 0.2);
        line-height: 64px;
        font-family: 'MadeRegular';
        font-size: 19px;
        letter-spacing: 1px;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
      }
}
.bgfoot {
    width: 100%;
    height: 70%;
    -webkit-clip-path: polygon(0 30%, 100% 0, 100% 99%, 0% 100%);
    clip-path: polygon(0 26%, 100% 0, 100% 100%, 0% 100%);
    background-image: linear-gradient(to right, #32bfa9, #3f9dd4);
    overflow: hidden;
    position: absolute;
    top: 450px;
    overflow: hidden;
}
.footer {
    position: relative;
    &-foot {
        background-image: linear-gradient(to right, #32bfa9, #3f9dd4);
        display: flex;
        margin: 0 auto;
        z-index: 99999;
        position: relative;
        justify-content: center;
        font-family: 'MadeRegular';
        color: #ffffff;
        line-height: 1.5;
        margin-top: 72px;
        padding-top: 40px;
        border-top: 1px solid #fff;
        &-phone {
            font-size: 17px;
            letter-spacing: 0.9px;
            background-image: url('../images/icon-phone.png');
            background-repeat: no-repeat;
            background-position: left;
            padding-left: 25px;
            margin-right: 320px;
        }
        &-copyright {
            font-size: 15px;
            letter-spacing: 0.8px;
            margin-left: 320px;
        }
    }
}
.foot-container {
    background-image: linear-gradient(to right, #32bfa9, #3f9dd4);
    padding-top: 400px;
    margin-top: -400px;
}