a{
     color:white;
     text-decoration: none;
 }
a:hover{
    color:white;
    text-decoration: none;
}
#go-top:hover{
  text-decoration: underline;
}
*,
*:before,
*:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.main-articles-article img{

}
body > div.testimonials > div.owl-carousel.owl-theme.slider.owl-loaded.owl-drag > div.owl-nav > button.owl-next {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url(/public/images/icon-arrow-right.png) !important;
  font-size: 0px !important;
  position: absolute;
  top: 75px;
  right: -100px;
  z-index: 999;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/public/images/icon-arrow-left.png);
  margin-top: 150px;
  cursor: pointer;
  width: 57px;
  height: 57px;
  background-color: #ffffff !important;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 12.2px 0.8px rgba(9, 57, 78, 0.2);
  box-shadow: 0px 3px 12.2px 0.8px rgba(9, 57, 78, 0.2);
  outline: none;
}
body > div.testimonials > div.owl-carousel.owl-theme.slider.owl-loaded.owl-drag > div.owl-nav > button.owl-prev {
  position: absolute;
  top: 75px;
  left: -100px;
  z-index: 999;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url(/public/images/icon-arrow-left.png) !important;
  font-size: 0px !important;
  margin-top: 150px;
  cursor: pointer;
  width: 57px;
  height: 57px;
  background-color: #ffffff !important;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 12.2px 0.8px rgba(9, 57, 78, 0.2);
  box-shadow: 0px 3px 12.2px 0.8px rgba(9, 57, 78, 0.2);
  outline: none;
}
